@using VSC.Core.DemoDataLinks.Model
@using VSC.Core.ViewModel
@using VSC.Core.WebUI.Helpers
@model DetailViewModel<Interest>
@{
    ViewData["Title"] = $"{Model.RowTypeTitle} Detail";
}

<h2>@ViewData["Title"]</h2>
<div class="row"><div class="col-md-6">
        <table class="table table-bordered">
            <tr><th>Title</th><td>@Model.DataModel.Title</td></tr>
            <tr><th>Description</th><td>@Model.DataModel.Description</td></tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>People Interested</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Added</th>
                    <th class="button-col-2">
                        <a asp-action="Link" asp-controller="LinkInterestPerson" asp-route-id="@Model.DataModel.Key"
                           asp-route-fromController="Interest" asp-route-fromAction="Detail"
                           asp-route-fromId="@Model.DataModel.Key"><i class="bi-link"></i></a>
                    </th>
                </tr>
            </thead>
        <tbody>
            @foreach(var row in Model.DataModel.PersonalInterests.OrderBy(x=>x.Person.LastName).ThenBy(x=>x.Person.FirstName))
            {
                <tr>
                    <td>@row.Person.FirstName</td>
                    <td>@row.Person.LastName</td>
                    <td>@Html.ShortDate(row.Inserted)</td>
                    <td class="button-cell">
                            <a asp-action="RemoveLink" asp-controller="LinkInterestPerson" asp-route-id="@row.PersonalInterestId"
                               asp-route-fromController="Interest" asp-route-fromAction="Detail" 
                                asp-route-fromId="@Model.DataModel.Key"> <i class="bi-trash"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<cross-controller-cancel-button></cross-controller-cancel-button>

@section Head
{
    <query-grid-add-styles></query-grid-add-styles>
}
