@using VSC.Core.DemoDataLinks.Model
@using VSC.Core.ViewModel
@model IndexViewModel<ContactGroup>
@{
    ViewData["Title"] = Model.RowTypeTitlePlural;
}

<h2>@ViewData["Title"] <span class="text-secondary" style="font-size:smaller!important">(@Model.SessionViewModel.RowCount)</span></h2>

<p></p>

<query-grid-empty-message></query-grid-empty-message>

<hidden-if-empty count="@Model.Rows.Count()">
    <query-grid-pager></query-grid-pager>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Count</th>
                <th class="button-col-3"><datamodel-add-button></datamodel-add-button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Rows.OrderBy(x => x.Title))
            {
                <tr>
                    <td>@row.Title</td>
                    <td>@row.People.Count()</td>
                    <td><datamodel-edit-buttons row-object="@row"></datamodel-edit-buttons></td>
                </tr>
            }
        </tbody>
    </table>
</hidden-if-empty>

@section Head
{
    <link rel="stylesheet" href="_content/VSC.Core.WebRCL/css/querygrid.css" />
}

@section Scripts
{
    <script src="_content/VSC.Core.WebRCL/vsc.javascript/vsc.dialogs.confirm.js" asp-append-version="true"></script>
    <script src="_content/VSC.Core.WebRCL/vsc.javascript/vsc.forms.autosubmit.js" asp-append-version="true"></script>
}